.div{
	border :1px;
	width:25px;
	float:left;
	box-sizing:border-box;
}

.div{
	border :1px;
	width:25px;
	float:center;
	box-sizing:border-box;
}

.div{
	border : 1px;
	width:25px;
	float:right;
	box-sizing:border-box;
}

.div{
	border : 1px;
	width:25px;
	float:left;
	box-sizing:border-box;
}

.div{
	border : 1px;
	width:25px;
	float:center;
	box-sizing:border-box;
}

.div{
	border : 1px;
	width:25px;
	float:right;
	box-sizing:border-box;
}

.div{
	border : 1px;
	width:25px;
	float:left;
	box-sizing:border-box;
}

.div{
	border : 1px;
	width:25px;
	float:center;
	box-sizing:border-box;
}